<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Truck_Analytics.Properties.Settings.SapthipNewDBConnectionString" connectionString="Data Source=192.168.111.225;Initial Catalog=SapthipNewDB;User ID=truck_scale;Password=pass@2020" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
